body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container-cinza {
    width: 600px;
    height: 250px;
    background-color: #808080;
    border: 2px solid #333;
    display: flex;
    justify-content: right;
    align-items: top;
}

.box-verde {
    width: 120px;
    height: 120px;
    background-color: #008080;
    border: 1px solid #005a5a;
}

