.container{
    width: 800px;
    height: 600px;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.cima{ 
    width: 800px;
    height: 200px;
    display: flex;
}
.cima .cima-esquerda{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
}
.cima .cima-esquerda .quadrado-ciano{
    width: 150px;
    height: 150px;
    background-color: darkcyan;
    }
.retangulo-vermelho-cima{
    width: 150px;
    height: 20px;
    background-color: red;
    }
.cima .cima-meio{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cima .cima-meio .retangulo-amarelo{
    width: 350px;
    height: 70px;
    background-color: yellow;
}

.cima-direita{
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.quadrado-laranja{
    width: 80px;
    height: 70px;
    background-color: coral;
}

.quadrado-rosa{
    width: 80px;
    height: 70px;
    background-color:deeppink;
}

.meio{
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retangulo-azul{
    display: flex;
    background-color: darkblue;
    width: 750px;
    height: 150px;
    flex-direction: column;
}

.retangulo-azul .bola-laranja1{
     
    width: 75px;
    height: 50%;
    background-color: transparent;
    border-radius: 50%;
    border: 5px solid;
    border-color: darkorange;
    align-self: flex-end;
}

.retangulo-azul .bola-laranja2{
    width:75px;
    height: 50%;
    background-color: transparent;
    border-radius: 50%;
    border: 5px solid;
    border-color: darkorange;
    align-self: flex-start;
    }

.baixo{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.baixo .baixo-direita{
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
}

.retangulo-vermelho-baixo{
    width: 40%;
    height: 25px;
    background-color: red;
    align-self: flex-end;
}


.baixo .baixo-esquerda{
    width: 400px;
    height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    gap: 20px;
}
.retangulo-azul-baixo{
    width: 380px;
    height: 25px;
    background-color: aqua;
    align-self: flex-end;
}






